#bodyTwo {
    position: relative;
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Styles for the sticky navbar */
#bodyTwo .bodyTwo-navbar {
    z-index: 1;
    grid-column-gap: .25rem;
    background-color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-radius: 500px;
    align-items: center;
    padding: .25rem;
    display: flex;
    position: sticky;
    top: 6rem;
    border: 1px solid #ccc;
    width: 320px;
  }
  

/* Styles for each navbar item */
#bodyTwo .bodyTwo-nav-item {
    padding: 8px 16px; /* Padding inside each item */
    cursor: pointer; /* Cursor on hover */
    color: #333; /* Default text color */
    text-align: center; /* Center text horizontally */
    border-radius: 50px; /* Rounded corners for each item */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Styles for the active navbar item */
#bodyTwo .bodyTwo-nav-item.active {
    background: #e1ff25; /* Green background when active */
    color: rgb(0, 0, 0); /* White text when active */
}


#bodyTwo .bodyTwo-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#bodyTwo .bodyTwo-text-container {
    display: block;
    flex: 1;
    padding: 10px 0; /* Adjusted padding */
    max-width: 100px;
    text-align: center; /* Center align text */
    /* background: #f0f0f0; */ /* Remove or comment out this line */
}


#bodyTwo .bodyTwo-image-container {
    flex: 1;
    position: sticky;
    top: 60px;
    max-width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#bodyTwo .bodyTwo-image-container img {
    max-width: 100%;
    max-height: 100%;
}

#bodyTwo .bodyTwo-text-section {
    height: 100vh;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#bodyTwo .bodyTwo-text-section h2 {
    color: #111f68;
    font-size: 36px; /* Adjusted font size */
    font-weight: 600;
    margin-bottom: 20px; /* Adjusted margin */
}

#bodyTwo .bodyTwo-text-section p {
    color: #333;
    font-size: 20px; /* Adjusted font size */
    line-height: 1.5;
}
