.footer {
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
    ); /* White gradient on bottom */

    background-image: linear-gradient(
        to bottom,
        #847ffb,
        #8b74ff,
        #9467ff,
        #a057ff,
        #ad42ff
    );
    color: white;
    padding-top: 100px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribute the three sections evenly */
    align-items: flex-start; /* Align items to the start vertically */
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    gap: 40px; /* Add gap between the sections */
}

.contributors,
.github,
.about {
    flex: 1; /* Ensure all sections take up equal width */
    margin: 0 10px;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px; /* Increase the font size for headers */
    border-bottom: 2px solid white;
}

p {
    margin-bottom: 10px;
    font-size: 18px; /* Increase the font size for paragraphs */
}

.git {
    width: 100px; /* Adjust the size of the logos as needed */
    height: auto;
    margin-top: 10px; /* Add some spacing above the logo */
}
