.nav-bar {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    border: 1px solid white;
    background-color: white;
    color: var(--dark-blue);
}

#logo img {
    margin-left: 40px;
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.left {
    display: flex;
    gap: 40px;
}
.left ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.landing section {
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
    ); /* White gradient on bottom */
    background-image: linear-gradient(
        to bottom,
        #ffffff,
        #eae6ff,
        #d5ceff,
        #beb6fe,
        #a79efd,
        #9b8ffe,
        #9080ff,
        #8570ff,
        #8863ff,
        #8e53ff,
        #953fff,
        #9e1fff
    );

    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 550px;
}

section p {
    color: var(--dark-blue);
    font-size: 1.2rem;
    margin-right: 6rem;
    margin-top: 12px;
}
section .left-main-right {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.left-main-right h2 {
    font-size: 3.2rem;
    color: var(--dark-blue);
    line-height: 1.2;
}
button {
    border: none;
    border-radius: 50px;
    padding: 12px 50px 12px 50px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
.button-container button:first-child {
    background-color: #111f68;
    font-weight: 600;
    margin-right: 20px;
    transition: background-color 0.5s ease;
}
.button-container button:first-child:hover {
    background-color: var(--bright-blue);
}

.button-container button:last-child {
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    transition: border-color 0.5s ease;
    transition: color 0.5s ease;
}

.button-container button:last-child:hover {
    border-color: var(--bright-blue);
    color: var(--bright-blue);
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
    display: inline-block;
    animation: 12s slide infinite linear;
}

.logos-slide img {
    height: 80px;
    margin: 0 80px;
}
.logos p {
    color: var(--dark-blue);
    margin-bottom: 60px;
}
.right-main-right {
    height: 500px;
    width: 500px;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    animation-duration: 2s;
    margin-top: 130px;
    margin-left: 100px;
}
.image-container img.fade-out {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

.image-container img.fade-in {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

.dropdown-left {
    position: relative;
    margin-right: 20px;
}
.dropdown {
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    left: 0;
    width: 200px; /* Adjust width as needed */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; /* Hide dropdown by default */
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    transform: translateY(-10px); /* Slide up initially */
}

.dropdown.show {
    opacity: 1;
    pointer-events: auto; /* Show dropdown when active */
    transform: translateY(0);
}

.drop-menu {
    padding: 10px;
    cursor: pointer;
}

.drop-menu:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}
